.quiz-body{
    /*background-image: url("https://laurenmurphy.files.wordpress.com/2013/09/music.jpg");*/
	/*background-image: url('img/background.jpg');*/
    background-color: black;
    background-size: 105%;
    font-family: arial, helvetica, sans serif;
    margin: 0px;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.quiz-body *{
    -webkit-transition-property: color,background;
    -webkit-transition-duration: .2s;
    -moz-transition-property: color,background;
    -moz-transition-duration: .2s;
}

.login-section {
    position: absolute;
    top: 0px;
    right: -100px;
    width: 500px;
}

.quiz-body .home-view, .user-profile, .categories, .result-view, .quiz-view {
    text-align: center;
}

.quiz-body .logo {
    background-image: url('img/logo.png');
    width: 400px;
    height: 110px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 3%;
}

.quiz-body .home-view .slogan {
    display: block;
    margin-top: 2%;
}

.quiz-body .button-bar {
    width: 350px;
    display: inline-block;
    margin-top: 5%;
}

.quiz-body .button-bar button:last-child{
    margin-bottom: 30px;
}

.quiz-body button, #field {
	cursor: pointer;
}

.quiz-body button {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    width: 200px;
	margin-top: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 3px solid #555;
    font-size: 25px;
	color: black;

    background-color: white;

    text-transform: capitalize;
    -webkit-transition-property: color;
    -webkit-transition-duration: .2s;
}

.quiz-body button:hover {
    background: transparent;
	color: white;
}

.quiz-body button:active {
    background: transparent;
	color: white;
}

.quiz-body .categories .container {
	margin: 2% 50px 30px 65px;
}

.quiz-body .categories .container .link {
	margin : 4px;
}

.quiz-body .user-profile .container {
	text-align: left;
	margin-top: 2%;
}

.quiz-body .user-profile .container .panel-transparent {
	background: none;
}

.quiz-body .user-profile .user-rank {
	text-align: center;
	font-size: 30px;
}

.quiz-body .user-profile .user-img {
	width: 250px;
	height: 250px;
}

.quiz-body .result-view {
    text-align: center;
}

.quiz-body .result-view .result-container header {
    color: #a32a13;
    font-size: 36px;
}

.quiz-body .result-view .result-container .result-content {
    width: 500px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    background: black;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, .5);
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 32px;
    font-family: cursive;
    border-radius: 2px;
}

.quiz-body .result-view .button-bar{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 20px;
}

.quiz-body .help-view {
    text-align: center;
}

.quiz-body .help-view ul{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 600px;
    line-height: 2;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: verdana;
    list-style: square;
}

.quiz-body .quiz-view  {
	padding-top: 100px;
}

.quiz-body .quiz-view .panel {
	boder: 10px;
}

.quiz-body .quiz-view .question {
	color: #000;
	margin-top: -5px;
}

.quiz-body .quiz-view .options {
	color: blue;
}

.quiz-body .quiz-view .options  #typeFill{
	color: blue;
	font-weight: bold;
}

.quiz-body .quiz-view .panel-footer :hover{
	background: transparent;
	color: blue;
}

.quiz-body .categories img {
	height: 200px;
	width: 100%;
	border: 5px solid white;
	transition: 1s;
}

.quiz-body .categories img:hover {
	width: 90%;
}

.title {
    font-size: 50px;
}

.quiz-body .timer {
    background-image: url('img/timer_outer.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 112px;
    display: inline-block;
}

.quiz-body .timer .hand {
    width: 6px;
    background: white;
    position: absolute;
    top: 25px;
    left: 49px;
    height: 37px;
    border-radius: 10px;
    z-index: 2;
}

.quiz-body .timer .hand.static {
    padding-bottom: 3px;
    box-shadow: 1px -1px 5px 0px #999;
}

.quiz-body .timer .hand.moving {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;

    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 100%;

    transform: rotate(0deg);
    transform-origin: 50% 100%;
}

.quiz-body .timer .inner .holder {
    position: absolute;
    width: 76px;
    height: 76px;
    clip: rect(0px, 76px, 76px, 38px);
    left: 15px;
    top: 24px;
}

.quiz-body .timer .inner .left.holder {
    clip: rect(0px, 38px, 76px, 0px);
}

.quiz-body .timer .inner .holder .pie {
    background: #00DEFF;

    border-radius: 38px;

    display: inline-block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top: 0px;
}

.quiz-body .timer .inner .right.holder .pie {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    clip: rect(0px, 76px, 76px, 38px);
}

.quiz-body .timer .inner .left.holder .pie {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    clip: rect(0px, 38px, 76px, 0px);
}

.quiz-body .timer .shadow {
    background-image: url('img/timer_shadow.png');
    width: 100%;
    height: 100%;
	left: 12px;
    top: 22px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;
}

.quiz-body .timer .counter,
.quiz-body .timer.stopped .counter{
    color: #00DEFF;
    bottom: -25px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 1;

    animation: bubbleFont 1s infinite;
    -moz-animation: bubbleFont 1s infinite;
    -webkit-animation: bubbleFont 1s infinite;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
}

.quiz-body .timer.ended .counter,
.quiz-body .timer.stopped .counter{
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
}
