<section class="quiz-view" ng-controller="QuizCtrl">
    <header class='header'>
        <span class='question-heading'>Question {{currentPosition + 1}} {{quiz.questions.length}}</span>
        <timer duration='10' autostart='true'></timer>
        <span class='point'>Point: {{currentQuestion.score}}</span>
    </header>
    <section class='content'>
        <div class='question'>{{currentQuestion.description}}</div>
        <div class='options-container'>
            <div ng-hide="currentQuestion.isFillIn()" ng-repeat="option in currentQuestion.options">
				<div class="radio">
					<label>
						<input type="radio" value="{{option.choice}}" ng-model="$parent.currentResponse">
						{{option.choice}}
					</label>
				</div>
			</div>
            <div id="typeFill" ng-show="currentQuestion.isFillIn()">
						<input type="text" placeholder="Type your answer here" ng-model="currentResponse">
					</div>
        </div>
    </section>
    <footer class='footer'>
        <a class='quit' ng-click="quit()">Quit</a>
        <button data-ng-disabled="!isAnswered()" ng-click="submitAnswer()">Next</button>
        <a class='pass' ng-click="next()">Pass</a>
    </footer>
</section>
